body {
     background-color:grey;
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    margin: 0px;
    padding-bottom: 60px;
    overflow-x: hidden;
}
/* basic paragraph styling. more complex styling should be done using containers */
p {
    margin-right: 5%;
    margin-left: 5%;
    color: 36454F;
}

/* styling for the mission statement */

#quote {
    background-color: black;
    opacity: 75%;
    text-align: center;
    color: white;
}